* {
    box-sizing: border-box;
    font-family: Poppins, Playfair Display, Lato, sans-serif;
    background: transparent;
    color: #ffffff;
}
:root {
    --header-color: #0a403a;
    --bg-color: #fff7f2;
    --box-color: #ffffff;
    --login-register-color: #ed920f;
    --heading-font-color: #0A403A;
}

body {
    background-color: #E5EDED!important;
}
p {font-size: 18px;}

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1 {font-size: 30px;}
    h3 {font-size: 20px;}
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    h1 {font-size: 36px;}
    h3 {font-size: 26px;}
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    h1 {font-size: 40px;}
    h3 {font-size: 30px;}
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    h1 {font-size: 50px;}
    h3 {font-size: 32px;}
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    h1 {font-size: 56px;}
    h3 {font-size: 36px;}
    p {font-size: 18px;}
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

/* Header Navbar */
nav {
    background-color: #0A403A;
    font-weight: 700;
}
#top-nav {
    color: #fff;
    font-weight: 700;
}
#top-nav a {
    color: #ed920f;
    background-color: #0A403A;
}
#top-nav ul {
    color: #fff;
    background-color: #0A403A;
}
#top-nav ul li a{
    color: #fff;
    background-color: #0A403A;
}
#dropdown-icon {
    vertical-align: -0.3em;
    margin-right: 10px;
    color: #ed920f;
}
#bell-icon {
    vertical-align: -0.3em;
    margin-right: 10px;
    color: #ed920f;
}
#login-btn {
    background-color: #ed920f;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}
#bottom-nav {
    font-family: Playfair Display;
}
#bottom-nav a {
    color: #ed920f;
}
#bottom-nav ul li {
    font-size: 14px;
}
#bottom-nav ul li.active span {
    color: #ed920f;
}
@media screen and (max-width: 992px) {
    #second-col {
        padding: 0!important;
        text-align: center;
    }
    #second-col-div1 {
        padding: 0!important;
    }
}
/* Footer */
footer {
    background-color: #0A403A;
    padding: 40px;
}
footer #logo-section a {
    color: #ed920f;
    background-color: #0A403A;
}
footer li {
    list-style: none;
}
/* avatar.html */
#avatar-section h1 {
    color: #0A403A;
    font-family: Playfair Display;
    font-size: 56px;
}
.avatar-cols img {
    width: 121px;
    height: 121px;
    object-fit: cover;
}
.avatar-cols h4 {
    color: #0A403A;
}
.avatar-cols button {
    color: #fff;
    background-color: #ed920f;
    min-width: 213px;
}
.avatar-cols p {
    color: #0A403A;
}