* {
    box-sizing: border-box;
    font-family: Poppins, Lato, sans-serif;
    background: transparent;
    color: #ffffff;
}
:root {
    --header-color: #0a403a;
    --bg-color: #fff7f2;
    --box-color: #ffffff;
    --login-register-color: #ed920f;
    --heading-font-color: #0A403A;
    --primary-color: #ed920f;
    --secondary-color: #0A403A;
}

body {
    background-color: #fff7f2!important;
}
p {font-size: 18px;}

/* Import feature font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* feature elements styles to match wix styles */

/* Typography */
h1, h2, h3, h4, h5, h6, .feature-text {
    font-family: 'Playfair Display', serif !important;
}
h1 {
    font-size: 56px !important;
    font-weight: bold !important;
}
h2 {
    font-size: 47px !important;
    font-weight: bold !important;
}
h4 {
    font-size: 27px !important;
    font-weight: bold !important;
}
.text-bold {
    font-weight: bold !important;
}

/* UI Elements */
.button {
    background-color: var(--primary-color) !important;
    color: white !important;
    padding: 8px 28px !important;
    outline: none !important;
    border: 1px solid var(--primary-color) !important;
    border-radius: 0% !important;
}
.button:hover {
    background-color: white !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.primary-color {
    color: var(--primary-color) !important;
}
.secondary-color {
    color: var(--secondary-color) !important;
}

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1 {font-size: 30px;}
    h3 {font-size: 20px;}
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    h1 {font-size: 36px;}
    h3 {font-size: 26px;}
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    h1 {font-size: 40px;}
    h3 {font-size: 30px;}
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    h1 {font-size: 50px;}
    h3 {font-size: 32px;}
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    h1 {font-size: 56px;}
    h3 {font-size: 36px;}
    p {font-size: 18px;}
    .cards {
        position: relative;
        bottom: 0px!important;
    }
    #fourth-sec {
        position: relative;
        bottom: 0px!important;
        margin-top: 30px!important;
    }
    #main-headings {
        padding-top: 50px!important;
    }
    #second-sec {
        padding: 20px!important;
    }
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

/* Header Navbar */
nav {
    background-color: #0A403A;
    font-weight: 700;
}
#top-nav {
    color: #fff;
    font-weight: 700;
}
#top-nav a {
    color: #ed920f;
    background-color: #0A403A;
}
#top-nav ul {
    color: #fff;
    background-color: #0A403A;
}
#top-nav ul li a{
    color: #fff;
    background-color: #0A403A;
}
#dropdown-icon {
    vertical-align: -0.3em;
    margin-right: 10px;
    color: #ed920f;
}
#bell-icon {
    vertical-align: -0.3em;
    margin-right: 10px;
    color: #ed920f;
}
#login-btn {
    background-color: #ed920f;
    font-size: 17px;
    padding: 8px 28px;
    outline: none;
    border: none;
    border-radius: 0%;
}
#bottom-nav {
    font-family: Playfair Display;
}
#bottom-nav a {
    color: #ed920f;
}
#bottom-nav ul li {
    font-size: 14px;
}
#bottom-nav ul li.active span {
    color: #ed920f;
}
@media screen and (max-width: 992px) {
    #second-col {
        padding: 0!important;
        text-align: center;
    }
    #second-col-div1 {
        padding: 0!important;
    }
}
/* Footer */
footer {
    background-color: #0A403A;
    padding: 40px;
}
footer #logo-section a {
    color: #ed920f;
    background-color: #0A403A;
}
footer li {
    list-style: none;
}
/* index.html */
/* Main Section HomePage Heading and bg image */
#main-section {
    background-image: url('imgs/forest.jpeg');
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center -150px;
    background-repeat: no-repeat;
    background-size: cover;
}
#headings{
}
#main-section h3 {
    color: #ed920f;
}
#main-section h1 {
}

/* Second Section Portfolio Pic and Text */
#second-sec {
}
#second-sec-text {
    background-color: #fff;
}
#second-sec-text h1 {
    color: #0a403a;
    font-size: 56px;
    font-family: Playfair Display;
}
#second-sec-text h4 {
    color: #ed920f;
    font-size: 30px;
    font-family: Playfair Display;
}
#second-sec-text p {
    color: #0A403A;
    font-size: 18px;
}
#second-sec-text button {
    background-color: #ed920f;
    color: #fff;
}
#second-sec-text #social-links i {
    color: #0A403A;
}
/* Third Section bg image and cards */
.cards {
    background-color:#ffffff;
}
.cards h2 {
    color: #0A403A;
    font-family: Playfair Display;
    padding: 10px;
}
.cards ol li {
    color: #0A403A;
}
#card-1 {
    position: relative;
    bottom: 250px;
}
/* Fourth Section */
#fourth-sec {
    margin: 0px 50px 50px 50px;
    position: relative;
    bottom: 170px;
}
#fourth-sec hr {
    border: 3px solid #ed920f;
}
#fourth-sec h1 {
    color: #0A403A;
}
#fourth-sec span {
    color: #ed920f;
}
/* avatar.html */
